header {
	height:46.5vw;
	background: #ebebeb;
	justify-content: space-between;
	padding-top: 2%;
	position: relative;
}

.flex {
	display: flex;
}

.borjgali {
	width:3.5vw;
	height:3.5vw;
	background: #e63c2e;
	background-image: url(../images/borjgali.png);
	background-repeat: no-repeat;
	background-position: center center; 
	background-size: 50%;
}

.top-panel-container {
	width:90vw;
	height:3.5vw;
	margin:0 auto;
	justify-content: space-between;
	line-height: 3.5vw;
}

.nav {
	width:14vw;
	text-transform: uppercase;
	color:black;
	font-weight: bold;
	justify-content: space-between;
	font-size: 1vw;
}


.logo  {
	width: 12vw;
    justify-content: space-between;
    font-size: 1.1vw;
}

.cart-items {
	width:2vw;
	height:2vw;
	border-radius: 50%;
	background: #ffffff;
}

.user-panel span:nth-child(2) {
	line-height: 2vw;
    text-align: center;
    margin: auto 0;
}

.user {
	width:3vw;
	height:3vw;
	border-radius: 50%;
	background: #e63c2e;
	background-image: url(../images/user.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin:auto 0;
}

.user-panel {
	justify-content: space-between;
    width: 16vw;
}

.cart {
	justify-content: space-between;
    width: 4.5vw;
}

.sign-in {
	justify-content: space-between;
    width: 7.5vw;
}

h1 {
	color: #e63c2e;
    text-transform: capitalize;
    position:absolute;
    font-size: 20vw;
    z-index: 10;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.mainimage {
	position: absolute;
	bottom: 0;
	left:50%;
	z-index: 20;
	width: 33vw;
	transform: translateX(-50%);
}

.header-buttons {
	width:90vw;
	margin:0 auto;
	padding:2vw 0;
	justify-content: space-between;
}

.arrow-buttons span:nth-child(1) {
	border-right: 1px solid #d7d7d7;
    padding: 0.5vw 1vw;
}

.arrow-buttons span:nth-child(2) {
	padding: 0.5vw 1vw;
}

.more-products {
	background: black;
	color: white;
    padding: 2vw 8vw 2vw 3vw;
    background-image: url(../images/tri.png);
    background-position: 90% 50%;
    background-repeat: no-repeat;
    
}

.more-products p:nth-child(1) {
	font-size: 0.8vw;
}

.more-products p:nth-child(2) {
	font-size: 0.7vw;
	color:#959595;
}

.more-product-logo {
	position: absolute;
	transform: translate(-50%,50%);
	left: 50%;
    bottom: 0;
    z-index: 30
}

.tbc-logo {
	text-align: center;
}

.dot {
	margin: auto 0;
	width:2px;
	height:2px;
	background: black;
}

.dot-buttons {
	justify-content: space-between;
    width: 5vw;
}

.dot-circle {
	padding: 7%;
    width: 1vw;
    height: 1vw;
    border: 1px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    margin: auto 0;
}

.header-buttons-block {
	border-bottom: 1px solid #d7d7d7;
}

.popular-products-content {
	background: #f9f4f4;
	padding:2vw;
	width:88vw;
}

.products {
	padding-top: 3vw;
	padding-left: 1vw;
}

.popular-product-item {
	text-align: center;
	margin-left: 5vw;
	font-weight: bold;
    font-size: 12px;
}

.arrow-buttons-block {
	flex-direction: column;
	justify-content: center;
	width:12vw;
}

.popular-products-description {
	width:15vw;
}

.popular-products-description p:nth-child(3) {
	color:#979494;
	margin-top: 2vw;
	font-size: 1vw;
    line-height: 1.3vw;
}

.popular-products-description p:nth-child(2) {
	margin-top: 0.5vw;
}

.popular-dots {
	margin-top: 3vw;
}

.popular-product-item p:nth-child(4) {
	color:#919090;
	text-transform: capitalize;
	margin-top: 1vw;
	padding-bottom: 1vw;
}

.popular-product-item p:nth-child(4) span {
	padding:1vw;
	border-bottom: 1px solid #e1e1e1;
}

.popular-product-item p:nth-child(5) {
	margin-top: 1vw;
	color:#e63c2e;
	font-size: 18px;
}